{% extends 'watchlist/layout.html' %}
{% load static %}
{% block body %}
  <h1 class="page-title">All Animes</h1>
  <div class="anime-container">
    {% for anime in paginated_data %}
      <div class="anime-card">
        <img src="{{ anime.picture_url }}" alt="{{ anime.title }}" class="anime-image">
        <h3 class="anime-title">{{ anime.title }}</h3>
        <p class="anime-description">{{ anime.description }}</p>
        <button class="watch-list-button" onclick="getAnime('{{ anime.myanimelist_id }}', '{{ user_id }}', '{{ anime.title }}')">Add to Watchlist</button>
        <a href="{{ anime.myanimelist_url }}" class="more-info">More Info on {{ anime.title }}</a>
      </div>
    {% endfor %}
  </div>
  
  <div class="pagination">
    <div class="step-links">
      {% if paginated_data.has_previous %}
        <a href="?page=1" class="pagination-button">&laquo; First</a>
        <a href="?page={{ paginated_data.previous_page_number }}" class="pagination-button">Previous</a>
      {% endif %}

      <span class="current-page">
        Page {{ paginated_data.number }} of {{ paginated_data.paginator.num_pages }}
      </span>

      {% if paginated_data.has_next %}
        <a href="?page={{ paginated_data.next_page_number }}" class="pagination-button">Next</a>
        <a href="?page={{ paginated_data.paginator.num_pages }}" class="pagination-button">Last &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
