{% extends 'watchlist/layout.html' %}
{% load static %}

{% block body %}
<h1 class="page-title">These Animes are on Hold 
  <img src="https://cdn.frankerfacez.com/emoticon/559562/4" alt="pause-champ" class="title-image">
</h1>

<div class="watchlist-container">
  {% if paginated_data %}
    <div class="anime-list">
      {% for anime in paginated_data %}
        <div class="anime-card">
          <img src="{{ anime.anime.picture_url }}" alt="{{ anime.anime.title }}" class="anime-image">
          <h3 class="anime-title">{{ anime.anime.title }}</h3>
          <p class="anime-description">{{ anime.anime.description }}</p>
          <form class="status-form" method="POST">
            {% csrf_token %}
            <input type="hidden" class="user-id" value="{{ user.id }}">
            <input type="hidden" class="anime-id" value="{{ anime.anime.myanimelist_id }}">
            <input type="hidden" class="anime-title" value="{{ anime.anime.title }}">
            <div class="status-dropdown">
              <select class="status-select">
                {% for choice in STATUS_CHOICES %}
                  <option value="{{ choice.0 }}" {% if choice.0 == anime.status %}selected{% endif %}>
                    {{ choice.1 }}
                  </option>
                {% endfor %}
              </select>
              <button type="submit" class="btn btn-change-status">Change Status</button>
            </div>
          </form>
          <div class="anime-details">
            <label for="episode">Current Episode:</label>
            <input type="number" class="episode-input" onkeydown="checkEpisodeEnter(event, {{ anime.anime.myanimelist_id}})" value="{{ anime.progress }}">
            <button class="decrease">-</button>
            <button class="increase">+</button>
          </div>
          <div>
            <label for="rating">Rating:</label>
            <input type="number" class="rating-inputs" onkeydown="checkRatingEnter(event, {{ anime.anime.myanimelist_id}})" value="{{ anime.rating }}">
          </div>
          <div>
            <button class="remove" onclick="removeAnime({{ anime.anime.myanimelist_id }}, '{{ anime.anime.title }}')">Remove from watchlist</button>
          </div>
          <a href="{{ anime.anime.myanimelist_url }}" class="more-info">More info on {{ anime.anime.title }} here!</a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h2>No animes on hold found!</h2>
  {% endif %}
  <div class="pagination">
    <div class="step-links">
      {% if paginated_data.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ paginated_data.previous_page_number }}" class="pagination-button">previous</a>
      {% endif %}
  
      <span class="current-page">
        Page {{ paginated_data.number }} of {{ paginated_data.paginator.num_pages }}
      </span>
  
      {% if paginated_data.has_next %}
        <a href="?page={{ paginated_data.next_page_number }}" class="pagination-button">next</a>
        <a href="?page={{ paginated_data.paginator.num_pages }}" class="pagination-button">last &raquo;</a>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
