{% extends 'watchlist/layout.html' %}
{% load static %}
{% block body %}
<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <h1>Register</h1>
    <p><b>Fill in this form to create an account.</b></p>
    <hr>
  </div>
  <div class="mb-3">
    <label for="username"><b>Username</b></label>
    <input type="text" autofocus placeholder="Username" name="username" id="username" required>
  </div>
  <div class="mb-3">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Email" name="email" id="email" required>
  </div>
  <div class="mb-3">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" id="password" required>
  </div>
  <div class="mb-3">
    <label for="confirmation"><b>Repeat Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confirmation" id="confirmation" required>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
  <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
</form>
{% endblock %}