{% extends 'watchlist/layout.html' %}
{% load static %}
{% block body %}
<h1 class="page-title">Search Anime 
  <img src="https://media.tenor.com/0mX52HNM8HwAAAAC/pepe-type.gif" alt="pepe-type" class="title-image">
</h1>

<div class="search-container">
  <form action="{% url 'fetch_anime' user_id=user_id %}" method="get" id="search-form">
    <textarea autofocus name="anime-name" id="anime-name" class="search-input" placeholder="Enter anime name"></textarea>
    <input type="hidden" value="{{ user_id }}" class="user-id">
    <button type="submit" value="Search" class="search-button">Search</button>
  </form>
</div>

<div class="search-results">
  {% if paginated_data %}
    {% for anime in paginated_data %}
      <div class="anime-card">
        <img src="{{ anime.picture_url }}" alt="{{ anime.title }}" class="anime-image">
        <h3 class="anime-title">{{ anime.title }}</h3>
        <p class="anime-description">{{ anime.description }}</p>
        <button class="watch-list-button" onclick="getAnime('{{ anime.myanimelist_id }}', '{{ user_id }}', '{{ anime.title }}')">Add to Watchlist</button>
        <a href="{{ anime.myanimelist_url }}" class="more-info">More info on {{ anime.title }} here!</a>
      </div>
    {% endfor %}
  {% else %}
    <p>No results found. Please try a different search.</p>
  {% endif %}
</div>

<div class="pagination">
  <div class="step-links">
    {% if paginated_data.has_previous %}
      <a href="?page=1" class="pagination-button">&laquo; First</a>
      <a href="?page={{ paginated_data.previous_page_number }}" class="pagination-button">Previous</a>
    {% endif %}

    <span class="current-page">
      Page {{ paginated_data.number }} of {{ paginated_data.paginator.num_pages }}.
    </span>

    {% if paginated_data.has_next %}
      <a href="?page={{ paginated_data.next_page_number }}" class="pagination-button">Next</a>
      <a href="?page={{ paginated_data.paginator.num_pages }}" class="pagination-button">Last &raquo;</a>
    {% endif %}
  </div>
</div>
{% endblock %}
